{% extends "index.html" %}
{% block title %}Rekisteröidy{% endblock %}
{% block content %}
<div class="content">
    <h2>Luo uusi käyttäjä</h2>
    <hr>
    <form id="register-form" action="/register" method="POST">
      <label for="username">Tunnus</label>
      <input type="text" name="username">
      <label for="password1">Salasana</label>
      <input type="password1" name="password1">
      <label for="password2">Salasana uudelleen</label>
      <input type="password2" name="password2">
      <input id ="register-button" type="submit" value="Luo käyttäjä">
    </form>
</div>
{% endblock %}