{% extends "index.html" %}
{% block title %}Lisää{% endblock %}
{% block content %}
<div class="content">
  <h2>Lisää uusi pysäkki</h2>
  <p id="notification">Lisää pysäkki syöttämällä sen tunnus (esim. H3005) alla olevaan kenttään.</p>
  <hr>
  <form id="add-stop-form" action="/stops/add" method="POST">
    <label for="content">Pysäkin tunnus</label>
    <input type="text" name="content" placeholder="">
    <input id="add-stop-form-button" type="submit" value="Lisää pysäkki">
    <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
  </form>
{% endblock %}
</div>
