{% extends "index.html" %}
{% block title %}Pysäkit{% endblock %}
{% block content %}
<div class="content">
  <h2>Pysäkit</h2>
  {% if len == 0 %}
  <hr>
  <h3>Sinulla ei velä ole pysäkkejä seurannassa</h3>
  {% else %}
  <hr>
    <ul>
    {% for stop in stops %}
      <li id="stop-element">
      <h3 id="stop-name">{{ stop[2] }}</h3>
      <p id="stop-info-text">info: {{ stop[1] }}</p>
      <a id="stop-delete" href="/stops/delete/{{ stop[1] }}">Poista</a>
      <a id="stop-info" href="/stops/schedules/{{ stop[1] }}">Näytä pysäkki</a>
      </li>
    {% endfor %}
    </ul>
{% endif %}
{% endblock %}
</div>